<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="runner.TideSearchFunctionTest" />
			<class name="runner.TideProductsPageTest" />
			<class name="runner.TideInoWashPageTest" />
			<class name="runner.TideCommitmentTest" />
			<class name="runner.TideProductTypeTest" />
			<class name="runner.TideTandCTest" />
			<class name="runner.TideArticleTest" />
			<class name="runner.TideCoupnAndrRewardTest" />
			<class name="runner.TideNewLaunchTest" />
			<class name="runner.TideLiveChatPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
